[Unit]
Description=WireGuard Management Daemon
After=network-online.target wg-quick@wg0.service
Wants=network-online.target wg-quick@wg0.service
Requires=wg-quick@wg0.service

[Service]
Type=simple
User=root
ExecStart=__BIN_PATH__ --config=__CONFIG_PATH__
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
